<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            background-color: white;
            background-image: linear-gradient(to bottom, white, plum);
            background-attachment: fixed;
        }

        h1 {
            color: purple;
            font: size 100;
            text-align: center;

        }

        h2 {
            color: white;
            font-family: "Georgia";
            font: size 60;
            text-align: left;
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <title>PhotoShare </title>
    <meta name="description" content="This is our website.">
    <link rel=”stylesheet” href=”main.css”>
    <link rel=”stylesheet” type=”text/css” href="styles.css">

</head>


<body>
    <h1>PhotoShare </h1>
    <h2> <a href=”Profile.html”>Profile </a> </h2>
    <h2> <a href=”album.html”>Create an Album </a> </h2>
    <h2> <a href=upload.html>Upload a Photo </a> </h2>
    <h2> <a href=”friendadd.html”>Add a Friend </a> </h2>
    <h2> <a href=”friendc.html”>Friend Circle </a> </h2>
    <h2> <a href=”lobby.html”>Lobby</a> </h2>
    <h2> <a href="home.html">Home</a></h2>
</body>

</html>
