<!-- PROFILE PAGE: view user info and their albums (may/may not be logged in user's profile) -->
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if albums %}
  <h2>Your albums:</h2>
  <ul>
  {% for album in albums %}
    <li>{{ album.name }}</li>
    <li>{{ album.date_created}}</li>
  {% endfor %}
  </ul>
{% endif %}

<ul>
    {% if not name %}
      <li><a href='/login'>Login</a></li>
      <li><a href='/register'>or create an account</a></li>
    {% else %}
      <li><a href='/home'>Home</a></li>
      <li><a href='/profile'>My Profile</a></li>
      <li><a href='/logout'>Logout</a></li>
    {% endif %}
  </ul>