<!-- PROFILE PAGE: view user info and their albums (may/may not be logged in user's profile) -->
{% if message %}
  <h4>{{message}}!</h4>
{% endif %}
<title>Photoshare</title>
{% if name %}
  <h1>Hello {{ name }}!</h1>
{% endif %}

{% if not albums %}
<a href="/new_album">Create New Album</a>
{% endif %}

{% if albums %}
<h2>Your albums:</h2>
    <a href="/new_album">Create New Album</a>
  <ul>
  {% for album in albums %}
    <li>
        <a href='/album/{{album[0]}}'>{{ album[1] }} ({{ album[2]}})</a>
    <!-- <li><a href='/delete_album/{{album[0]}}'>Delete Album</a> -->
    </li>
  {% endfor %}
  </ul>
{% endif %}
<br/>
<h3>Main Menu:</h3>
<ul>
    {% if not name %}
      <li><a href='/login'>Login</a></li>
      <li><a href='/register'>or create an account</a></li>
    {% else %}
      <li><a href='/'>Home</a></li>
      <li><a href='/profile'>My Profile</a></li>
      <li><a href='/logout'>Logout</a></li>
    {% endif %}
  </ul>