<!-- REGISTER PAGE -->
<head>
    <title>Create an account!</title>
</head>
{%if not supress%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}
    <body>
        <div class="title">
            <h1>Enter your information below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('register_user') }}">
                <div class="form-group" id="#signup-form">
                    <input type="text" class="form-control" placeholder="First Name" name="firstname">
                </div>
            
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" name="lastname">
                </div>
            
                <div class="form-group">
                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
                </div>
            
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="DOB (format:1994-12-12)" name="dob">
                </div>
            
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Hometown" name="hometown">
                </div>
            
                <div class="form-group">
                    <label for="gender">Gender: </label>
                    <select name="gender" id="gender">
                        <option value="F">Female</option>
                        <option value="M">Male</option>
                        <option value="O">Other</option>
                    </select>
                </div>
            
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" name="password">
                </div>
            
                <button type="submit" value="Search" class="btn btn-default submit">Sign Up Now!</button>
            </form>
         </div>
    </body>
<a href='/'>Home</a>
