<!-- CURRENTLY IMPLEMENTED AS MODAL IN ALBUM.HTML -->
<head>
    <title>Upload a photo!</title>
</head>
    <body>
        <div class="title">
            <h1>Upload a photo to Photoshare</h1>
        </div>
            <form method="post" enctype="multipart/form-data" action="/upload">
                <input type="hidden" name="aid" value="{{aid}}">
                <label for="photo">Select photo:</label>
                <input type="file" name="photo" required='true' /><br />
                <label for="caption">Add caption:</label>
                <input type="text" name="caption" required='true' /><br />
                <label for="tags">Add tags (separate with ", " - e.g., "tag1, tag2, tag3"):</label>
                <input type="text" name="tags" required='false' /><br />
                <input type="submit" value="Upload" />
            </form>
    </body>
